%h1 Treegram
%h2 Your Favorite Tree Photosharing Service

.app-picture
  = image_tag "background.jpg"

.login-signup-buttons
  = link_to 'Login', log_in_path, class: ["btn", "btn-success", 'btn-lg']
  = link_to 'Sign Up', new_user_path, class: ['btn', 'btn-primary', 'btn-lg']
